<header class="header">
	<div class="container header__inner">
		<a class="brand" href='{{ "/" | relURL }}'>

			<img src="{{ .Site.Params.logoLight | relURL }}" class="logo logo-light" alt="logo" />

			<img src="{{ .Site.Params.logoDark | relURL }}" class="logo logo-dark" alt="logo" />

			<span class="brand-text">
				{{ .Site.Title }}
			</span>

		</a>

		<!-- Desktop nav -->
		<nav class="nav nav--desktop">
			{{ range .Site.Menus.main }}
			<a class="nav__link" href="{{ .URL }}">{{ .Name }}</a>
			{{ end }}

			<button class="theme-toggle" id="theme-toggle" type="button" aria-label="Переключить тему">
				<span class="theme-toggle__icon theme-toggle__icon--sun" aria-hidden="true">
					{{ partial "icons/sun.svg" . }}
				</span>
				<span class="theme-toggle__icon theme-toggle__icon--moon" aria-hidden="true">
					{{ partial "icons/moon.svg" . }}
				</span>
			</button>
		</nav>

		<!-- Mobile burger -->
		<details class="burger">
			<summary class="burger__btn" aria-label="Меню">
				{{ partial "icons/menu.svg" . }}
			</summary>

			<nav class="burger__panel">
				<div class="burger__head">
					<span class="burger__title">Меню</span>

					<button class="theme-toggle burger__theme-iconbtn" id="theme-toggle-mobile" type="button"
						aria-label="Переключить тему">
						<span class="theme-toggle__icon theme-toggle__icon--sun" aria-hidden="true">
							{{ partial "icons/sun.svg" . }}
						</span>
						<span class="theme-toggle__icon theme-toggle__icon--moon" aria-hidden="true">
							{{ partial "icons/moon.svg" . }}
						</span>
					</button>
				</div>

				{{ range .Site.Menus.main }}
				<a class="burger__link" href="{{ .URL }}">{{ .Name }}</a>
				{{ end }}
			</nav>
		</details>
	</div>
</header>